/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Brand colors --------------------------------
$brand-color--lightblue: lighten(#2F9BB4, 10%);
$brand-color--blue: #007694;
$brand-color--darkblue: #1a6c80;

// Include theme-specific fonts
@import url(../../lib/font/fontawesome/css/fontawesome.min.css);
@import url(../../lib/font/fontawesome/css/solid.min.css);
@import url(../../lib/font/fontawesome/css/brands.min.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(0,0,0);

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: Arial, Helvetica, sans-serif;
$headingFont: Arial, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 400;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


// Custom components ---------------------------
h1.presentation-title {
	position: absolute;
	left: -9999px;
	top: 0;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.reveal {
	.controls {
		color: white;

		button {
			background-color: black;
			padding: 10px;
		}
	}

	.progress {
		color: white;
	}

	section {
		h1 {
			margin: 0;
		}

		h2 {
			margin: 0;

			&.is-centered {
				text-align: center !important;
			}

			&.is-large {
				font-size: 100px;
				line-height: 90px;
				font-weight: 900;
				text-align: left;

				.icon {
					margin-top: 40px;
					font-size: 200px;
				}
			}

			&.is-small {
				font-size: 65px;
				line-height: 75px;
				text-transform: unset;
				font-weight: 600;
			}

			&.is-lowercase {
				text-transform: none;
			}

			.is-background {
				background-color: rgba(0,0,0,1);
				box-decoration-break: clone;
				-webkit-box-decoration-break: clone;
				display: inline;
				line-height: 145px;
				padding: 0 20px;
			}

			&.is-right-aligned {
				text-align: right;
			}

			& > .icon:first-child {
				margin-right: 20px;
			}

			& + .block-list {
				margin-top: 30px !important;
			}

			.badge {
				background-color: $brand-color--blue;
				padding: 20px 30px;
				border-radius: 100px;
				color: white;
				font-weight: bold;
				margin-bottom: 50px;
				display: inline-block;
			}

			.source {
				font-size: 40px;
				text-transform: none;
				font-weight: 300;
				opacity: .6;

				a {
					color: #fff;
					text-decoration: underline;
				}
			}

			a {
				color: white;
				text-decoration: underline;
			}

			&.is-positive {
				.icon {
					color: green;
				}
			}

			&.is-negative {
				.icon {
					color: red;
				}
			}
		}

		h3 {
			text-transform: none;
			font-weight: bold;
			font-size: 80px;
			line-height: 70px;
			text-align: left;
		}

		.background-icon {
			position: absolute;
			top: 0;
			font-size: 550px;
			opacity: .3;
			z-index: 0;
			mix-blend-mode: overlay;
		}

		p {
			&.is-large {
				font-size: 80px;
				line-height: 80px;
				font-weight: bold;
				text-align: left;
			}
		}

		img {
			border: 0;
			box-shadow: none;
			margin: 0;
		}

		.is-highlighted {
			color: $brand-color--lightblue !important;
		}

		.columns {
			display: flex;

			.column {
				flex: 0 0 auto;
			}
		}

		// Media object - icon on left, title and content on right
		.media-object {
			display: flex;
			width: auto;
			padding: 50px;
			box-shadow: 0 0 200px 20px rgba(255,255,255,.25);
			border: 5px solid orange;

			&.has-no-border {
				box-shadow: none;
			}

			&.is-compact {
				.icon {
					width: 200px;
				}

				.content {
					h2 {
						font-size: 40px;
					}
				}
			}

			.icon {
				flex: 0 auto;
				margin-top: -10px;
				margin-right: 40px;
				text-align: center;
				color: $brand-color--lightblue;

				img {
					width: 100%;
					height: auto;
				}

				.fas {
					font-size: 140px;
					margin-bottom: 30px;
				}
			}

			.content {
				flex: 1 auto;
				text-align: left;

				h2 {
					text-transform: none;
					font-weight: 700;
				}

				p,
				ul {
					line-height: 45px;
					margin-top: 10px;
					opacity: .6;
				}
			}
		}

		ul {
			// Stack of horizontal bars
			&.block-list {
				list-style: none;
				width: 100%;
				margin: 0;
				padding: 0;

				&.has-extra-padding {
					li {
						padding: 20px 60px 20px 30px;
					}
				}

				&.is-compact {
					li {
						font-size: 30px;
					}
				}

				&.is-large {
					li {
						font-size: 40px;
					}
				}

				li {
					margin-bottom: 20px;
					padding: 15px 40px 15px 30px;
					background-color: rgba(255,255,255,.1);
					transition: all .5s ease-in-out !important;
					// border-radius: 10px;
					font-size: 30px;

					&:last-of-type {
						margin-bottom: 0;
					}

					&.fragment {
						&.visible {
							opacity: .8;
						}

						&.current-fragment {
							padding-left: 60px;
							opacity: 1;
							box-shadow: 0 0 0 3px orange;
							background-color: rgba(255,255,255,.15);
						}
					}

					.icon {
						float: left;
						font-size: 42px;
						margin-right: 30px;
						padding: 5px 0;
						width: 50px;
						text-align: center;
						opacity: .6;
					}

					a {
						padding: 10px 0;
						color: white;

						&.is-full-width {
							display: block;
							text-align: center;
						}

						&:hover {
							text-decoration: underline;
						}
					}

					p {
						margin: 0;
						font-size: 40px;

						&.title {
							font-weight: bold;
							line-height: 50px;
						}

						&.subtitle {
							font-size: 30px;
							opacity: .6;
							margin: 10px 0;
							font-weight: normal;
						}
					}
				}
			}
		}

		dl {
			&.link-list {
				font-size: 36px;

				&.columns {
					display: flex;

					.column {
						flex: 0 1 40%;
						font-size: 28px;
						padding: 10px;

						&:last-of-type {
							text-align: right;
						}
					}
				}

				dt {
					flex: 1 0 100%;
				}

				dd {
					flex: 1 0 100%;
					margin: 0 0 60px 0;

					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
