* {
  box-sizing: border-box;
}

body {
  padding: 30px 0;
}

form {
  width: 300px;
  margin: 0 auto;
}

input[type="text"] {
  box-shadow: none;
  transition: box-shadow .1s linear;
}

  input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px hsl(204, 86%, 53%);
  }

.errors {
  display: none;
}

  .errors ul {
    margin-top: 5px;
  }

    .errors ul li {
      display: none;
    }

.has-errors {
  color: red;
}

  .has-errors label {
    color: red;
  }

  .has-errors input {
    border-color: red;
  }

  .has-errors input[type="text"]:focus {
    outline: none;
    border-color: red;
    box-shadow: 0 0 0 2px red;
  }

  .has-errors .errors {
    display: block;
  }

    .has-errors .errors ul li {
      display: list-item;
    }

fieldset {
  margin-top: 30px;
}

  fieldset legend {
    margin-bottom: 10px;
    font-weight: bold;
  }

  fieldset label {
    display: block;
  }

    fieldset label:focus-within {
      font-weight: bold;
      color: hsl(204, 86%, 53%);
    }

  fieldset label input {
    margin-right: 5px;
  }

    fieldset label input:before {
      content: '';
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      display: block;
      border-radius: 3px;
      transition: box-shadow .1s linear;
    }

      fieldset label input:focus:before {
        box-shadow: 0 0 0 3px hsl(204, 86%, 53%);
      }

.buttons {
  margin-top: 20px;
}

  .button {
    transition: box-shadow .1s linear;
  }

    .button.is-link:focus {
      box-shadow: 0 0 0 2px white, 0 0 0 5px hsl(204, 86%, 53%) !important;
    }

    .button.is-text:focus {
      box-shadow: 0 0 0 3px hsl(348, 100%, 61%);
      color: hsl(348, 100%, 61%);
    }